<h1>Twitter API</h1>
<p>Get the last 20 tweets of your favorite Twitter User!</p>
<form action="/fetch" method="post">
  <input type="text" autofocus placeholder="Enter a Twitter Name" name="twitterhandle" size="30">
  <input type="submit" id="submit" value="Get Tweets">
</form>
<!-- <div id="spinner" class="spinner" style="display:none;">
    <img id="img-spinner" src="pacman.gif" alt="Loading"/>
</div> -->


<div id="tweets"></div>